<ion-header>
  <ion-toolbar color="success">
    <ion-menu-button auto-hide> </ion-menu-button>
  </ion-toolbar>
</ion-header>





<ion-menu side="start" menuId="custom" class="my-custom-menu">

  <ion-header>
    <ion-toolbar>
      <ion-title>COIF</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-button color="dark" href='mensagens-recebidas'> Home <ion-icon name="Home"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-button color="success" href='alunos'> Cadastrar Alunos <ion-icon name="contact"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-button color="light" href="gerencia-mensagens"> Criar Avisos <ion-icon name="ios-add-circle"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-button color="tertiary" href="mensagens-arquivadas"> Saidas Arquivadas <ion-icon name="logo-dropbox"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-button color="tertiary" href="gerencia-adm"> Cadastre Outros Admin <ion-icon name="logo-dropbox"></ion-icon>
        </ion-button>
      </ion-item>



      <ion-item>
        <ion-button color="danger" (click)='logout()'> LogOut <ion-icon name="exit"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>


<ion-router-outlet main> </ion-router-outlet>



<ion-content>
  <ion-searchbar [(ngModel)]="valor" (ionChange)="filtrar()"></ion-searchbar>
  <ion-card color="dark" *ngFor="let alunos of listaFiltro ">
    <ion-card-content>
      <ion-item>
        <ion-list>
          <ion-label><b>{{ alunos.nomeAluno }}</b></ion-label>
        </ion-list>
      </ion-item>

      <ion-item>
        <ion-list>
          <ion-label>Curso:<br><u>{{ alunos.cursEsc.nome }}</u></ion-label>
        </ion-list>
      </ion-item>
      <ion-item>
        <ion-list>
          <ion-label>Responsável:<br><u> {{ alunos.nomeResp }} </u></ion-label>
        </ion-list>
      </ion-item>
      <ion-item>
        <ion-list>
          <ion-label>RG do Responsável:<br><u> {{ alunos.rgResp }} </u></ion-label>
        </ion-list>
      </ion-item>
      <ion-item>
        <ion-list>
          <ion-label>CPF do Responsável:<br><u> {{ alunos.cpfResp }} </u></ion-label>
        </ion-list>
      </ion-item>
      <ion-item>
        <ion-list>
          <ion-label>Telefone do Responsável:<br><u> {{ alunos.telResp }} </u></ion-label>
        </ion-list>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <br>



  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button href='alunos' color='primary'>
        <ion-icon name='contact'></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="top">
      <ion-fab-button href='mensagens-enviar' color="light">
        <ion-icon name="ios-add-circle"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
