<ion-header>
  <ion-toolbar color="success">
    <ion-menu-button auto-hide> </ion-menu-button>
  </ion-toolbar>
</ion-header>





<ion-menu side="start" menuId="custom" class="my-custom-menu">

  <ion-header>
    <ion-toolbar>
      <ion-title>COIF</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>

      <ion-item>
        <ion-button color="dark" href='mensagens-recebidas'> Home <ion-icon name="Home"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-button color="success" href='alunos'> Cadastrar Alunos <ion-icon name="contact"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-button color="light" href="gerencia-mensagens"> Criar Avisos <ion-icon name="ios-add-circle"></ion-icon>
        </ion-button>
      </ion-item>
      <br>
      <ion-item>
        <ion-button color="tertiary" href="mensagens-arquivadas"> Saidas Arquivadas <ion-icon name="logo-dropbox"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-button color="success" href="gerencia-adm">Cadastre Outros Admin <ion-icon name="clipboard"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-button color="danger" (click)='logout()'> LogOut <ion-icon name="exit"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>


<ion-router-outlet main> </ion-router-outlet>



<ion-content>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button href='gerencia-mensagens'>
      <ion-icon name='ios-add-circle'></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
