<ion-header>
  <ion-toolbar>
    <ion-title>


      Cad. Pais e Alunos

    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card color="secondary">

    <ion-card-header>
      <ion-card-title> Informações do Estudante </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label> Curso: </ion-label>
            <ion-select [(ngModel)]="alunos.cursEsc" placeholder="Selecione seu Curso">
              <ion-select-option *ngFor='let curso of listaCurso | async' [value]="curso">
                {{curso.sigla}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-button expand="full" color="success" href='curso-salvar'> Criar Curso </ion-button>
        </ion-list>


        <br>

        <ion-item>
          <ion-label position="floating"> Nome Completo do Aluno </ion-label>
          <ion-input #nome='ngModel' [(ngModel)]='alunos.nomeAluno'  name='nomeAluno' required> </ion-input>
        </ion-item>
        <span style='color:red' *ngIf="nome.errors && nome.touched">
          <ion-label> campo obrigatório!</ion-label>
        </span>
        <br>
        <ion-item>
          <ion-label position="floating"> N° do RG </ion-label>
          <ion-input #rg='ngModel' [(ngModel)]='alunos.rgAluno' name='rgAluno' maxlength='9' required> </ion-input>
        </ion-item>
        <span style='color:red' *ngIf="rg.errors && rg.touched">
          <ion-label> campo obrigatório!</ion-label>
        </span>
        <br>
        <ion-item>
          <ion-label position="floating"> N° do CPF </ion-label>
          <ion-input #cpf='ngModel' [(ngModel)]='alunos.cpfAluno' name='cpfAluno' maxlength='11' required> </ion-input>
        </ion-item>
        <span style='color:red' *ngIf="cpf.errors && cpf.touched">
          <ion-label> campo obrigatório!</ion-label>
        </span>
        <br>
    </ion-card-content>



  </ion-card>

  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title> Informações do Responsável </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating"> Nome Completo do Responsável </ion-label>
        <ion-input #nResp='ngModel' [(ngModel)]='alunos.nomeResp' name='nomeResp' required> </ion-input>
      </ion-item>
      <span style='color:red' *ngIf="nResp.errors && nResp.touched">
        <ion-label> campo obrigatório!</ion-label>
      </span>
      <br>
      <ion-item>
        <ion-label position="floating"> N° do RG </ion-label>
        <ion-input #rResp='ngModel' [(ngModel)]='alunos.rgResp' name='rgResp' maxlength='11' required> </ion-input>
      </ion-item>
      <span style='color:red' *ngIf="rResp.errors && rResp.touched">
        <ion-label> campo obrigatório!</ion-label>
      </span>
      <br>
      <ion-item>
        <ion-label position="floating"> N° do CPF </ion-label>
        <ion-input #cResp='ngModel' [(ngModel)]='alunos.cpfResp' name='cpfResp' maxlength='9' required> </ion-input>
      </ion-item>
      <span style='color:red' *ngIf="cResp.errors && cResp.touched">
        <ion-label> campo obrigatório!!</ion-label>
      </span>
      <br>
      <ion-item>
        <ion-label position="floating"> Telefone</ion-label>
        <ion-input #telResp='ngModel' [(ngModel)]='alunos.telResp' name='telResp' required> </ion-input>
      </ion-item>
      <span style='color:red' *ngIf="telResp.errors && telResp.touched">
        <ion-label> campo obrigatório!!</ion-label>
      </span>
      <br>
      <ion-item>
        <ion-label position="floating"> Senha </ion-label>
        <ion-input type="password" [(ngModel)]='alunos.senhaResp'> </ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Confirmar Senha </ion-label>
        <ion-input type="password" [(ngModel)]='confirm'> </ion-input>
      </ion-item>
      <br>
      <br>
      <br>
      <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-button color='danger' href='gerencia-mensagens'>
            <ion-icon name="arrow-round-back"></ion-icon>
            <ion-label>Cancelar</ion-label>
          </ion-button>
          <ion-button color='success' (click)='salvar()'>
            <ion-label>Validar</ion-label>
            <ion-icon name="checkmark"></ion-icon>
          </ion-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-card-content>

  </ion-card>

</ion-content>


<ion-footer>

</ion-footer>
