<ion-header>
  <ion-toolbar>
    <ion-title>
      Cad. Pais e Alunos
    </ion-title>

  </ion-toolbar>
</ion-header>


<ion-content>



  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-button color='danger' href='gerencia-mensagens'>
        <ion-icon name="arrow-round-back"></ion-icon>
        <ion-label>Cancelar</ion-label>
      </ion-button>



      <ion-button color='success'>
        <ion-label>Validar</ion-label>
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-tab-bar>
  </ion-tabs>





  <ion-content>

    <ion-footer>

    </ion-footer>
